<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ----Added/Changed by me----- -->
    <title>Poke a Mon</title>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/gaming-27/300/gaming-fun-entertainment-freetime-pokemon-512.png">
    <!-- -------------------- -->

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <!-- ----Added by me----- -->
    <%= render 'shared/navbar' %>
    <!-- -------------------- -->

    <%= yield %>

    <%= javascript_pack_tag 'application' %>

    <!-- ----Added by me----- -->
    <%= render 'shared/flashes' %>
    <!-- -------------------- -->
  </body>
</html>
